.heroBlock {
  padding: 101px 50px 101px;
  height: 500px;
  background-image: url('/pictures/main-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 56px;
  margin-bottom: 100px;

  .heroTitle {
    font-size: 90px;
    margin-bottom: 60px;
    white-space: pre-line;

    @media (max-width: 1000px) {
      font-size: 50px;
    }
  }
}

.text {
  max-width: 640px;
  margin-bottom: 100px;
}

.recipes {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;*/
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }*/
}

.card {
  min-width: 300px;
  //max-width: 300px;
}
